@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}
